

<h1> Oracle list</h1>
<body>
<form>
  <label for="name"> name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="add">address:</label><br>
  <input type="text" id="address" address="address"><br><br>


 <input type="submit"  >
 <form action="/action_page.php" autocomplete="on">


</form>
</body>
